<form #form="ngForm" (ngSubmit)="registrar()" class="registration-form">
   <h2>Registrar Usuario</h2>
  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input id="nombre" type="text" [(ngModel)]="usuario.nombre" name="nombre" required>
  </div>
  
  <div class="form-group">
    <label for="email">Email:</label>
    <input id="email" type="email" [(ngModel)]="usuario.email" name="email" required>
  </div>
  
  <div class="form-group">
    <label for="password">Contraseña:</label>
    <input id="password" type="password" [(ngModel)]="usuario.password" name="password" required>
  </div>
  
  <div class="button-group">
    <button type="submit" [disabled]="form.invalid">Registrar</button>
    <button [routerLink]="['/']" type="button">Volver al Inicio</button>
  </div>

  <p *ngIf="mensaje" class="message">{{ mensaje }}</p>
</form>


